<div class="faq-section">
	<h3>FAQ</h3>
	<div class="faq-container">
		<div class="faq">
			<h5 class="faq-title">
				Quelle taille choisir ?
			</h5>
			<p class="faq-text">
				Pour un confort et un maintien optimal, optez pour la taille que vous avez l'habitude de prendre.
			</p>
			<button class="faq-toggle">
				<i class="fas fa-chevron-down"><img src="{{ asset('assets/uploads/svg/chevron-bas.svg') }}" width="25" height="25"></i>
				<i class="fas fa-chevron-up"><img src="{{ asset('assets/uploads/svg/chevron-haut.svg') }}" width="25" height="25"></i>
			</button>
		</div>
		<div class="faq">
			<h5 class="faq-title">
				Est-il adapté pour le sport ?
			</h5>
			<p class="faq-text activet">
				Oui, vous pouvez pratiquer votre activité physique avec le short de bain 'awra.
			</p>
			<button class="faq-toggle">
				<i class="fas fa-chevron-down"><img src="{{ asset('assets/uploads/svg/chevron-bas.svg') }}" width="25" height="25"></i>
				<i class="fas fa-chevron-up"><img src="{{ asset('assets/uploads/svg/chevron-haut.svg') }}" width="25" height="25"></i>
			</button>
		</div>
		<div class="faq">
			<h5 class="faq-title">
				Devant qui dois-je cacher ma 'awra ?
			</h5>
			<p class="faq-text activet">
				L'homme musulman doit cacher sa 'awra devant tout le monde hormis sa femme.
			</p>
			<button class="faq-toggle">
				<i class="fas fa-chevron-down"><img src="{{ asset('assets/uploads/svg/chevron-bas.svg') }}" width="25" height="25"></i>
				<i class="fas fa-chevron-up"><img src="{{ asset('assets/uploads/svg/chevron-haut.svg') }}" width="25" height="25"></i>
			</button>
		</div>
	</div>
</div>
